# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# --- Environnements Virtuels ---
# (Au cas où tu aurais créé un dossier venv dans le projet)
venv/
env/
.env

# --- IDE (VS Code / PyCharm) ---
.vscode/
.idea/

# --- Jupyter Notebooks ---
.ipynb_checkpoints

# --- Système ---
.DS_Store
Thumbs.db

# --- Fichiers de données lourds (Conseillé pour CMC) ---
# Si tu génères des vidéos de tes simulations ou des gros fichiers de logs
*.mp4
*.log
*.csv

# -- dossier a exclure 
**/logs/
Lab0/
Lab1/
Lab2/
Lab3/

#-- dossier de simulation
*.hdf5
*.pyd
*.so
*.obj
*.lib
*.exp
*.pdb